[Unit]
Description=CloudRein Backend Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/cloudrein
ExecStart=/usr/bin/python3 /home/cloudrein/cloudrein-server.py
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target